h1 {
    text-align: center;
    padding: 15px;
}

.description {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

#button-div {     
    margin: auto;
    width: 40%;
    padding: 20px;
      
}

.button {
    height: 50px;
    width: 111px;
    margin: 20px;
}

#button-div-2 {     
    margin: auto;
    width: 35%;
    padding: 50px;
      
}

#stay-safe-button {
    height: 270px;
    width: 270px;
    text-align: center;
    font-size: 30px;
    margin-left: 30px;
}

.report-div {
    margin: auto;
    width: 50%;
    padding: 30px;
    padding: 30px;
}

#report-sumbit-button {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-left: 200px;
}

.thank-you-div {
    margin: auto;
    width: 50%;
    padding: 50px;
    
}

#check-news-button {
    width: 150px;
    height:50px;
}

.news-div {
    padding: 30px;    
}

.home-button-div {
    margin: auto;
    width: 20%;
    padding: 20px;
}

.home-button {
    height: 50px;
    width: 150px;
    margin: 20px;
}

.age-div {
    margin: auto;
    width: 25%;
    padding: 20px;
}

#age {
    width: 250px;
    height: 65px;
    margin: 20px;
}

#age-button {
    height: 50px;
    width: 150px;
    margin-left: 545px;
    margin-top: 20px;
    margin-bottom: 100px;
}